<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
	<listeners>
		<listener class-name="Brindha.Maven_Project.TestComponent.Listeners"/>
	</listeners>
  <test thread-count="5" name="End to End Checking">
    <classes>
      <class name="Brindha.Maven_Project.TestCases.end_to_end_flowTest"/>
   </classes>
  </test>   
<!--   <test thread-count="5" name="Error Validation Test">-->
<!--    <classes>-->
<!--  <class name="Brindha.Maven_Project.TestCases.ErrorValidationTest"/>-->
<!--    </classes>-->
<!--   </test>-->
</suite> 
